[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
x509_extensions    = v3_req
prompt             = no

[ req_distinguished_name ]
C  = US
ST = State
L  = City
O  = Organization
OU = Unit
CN = Camel Cloud Examples

[ v3_req ]
keyUsage            = critical, digitalSignature, keyEncipherment
extendedKeyUsage    = serverAuth
subjectAltName      = @alt_names

[ alt_names ]
DNS.1 = example.local
DNS.2 = example.k3s
DNS.3 = keycloak.local
DNS.4 = keycloak.k3s
IP.1  = 127.0.0.1
