{{ if not ( eq .Section "page" ) }}
<div class='meta'>
  <span class='posted-on'>
    {{ partial "svg/icons" "calendar" }}
    <span class='screen-reader'>{{ i18n "postedOn" }} </span>
    <time class='date' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
      {{- .Date.Format ( or .Site.Params.dateFormat "2006, Jan 02" ) -}}
    </time>
  </span>
  {{ with .Site.Author.name }}
  <span class='byline'>
    {{ partial "svg/icons" "author" }}
    <span class='screen-reader'> {{ i18n "by" }} </span>
    {{ . }}
  </span>
  {{ end }}
</div>
{{ end }}
