<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
          http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

    <!-- Spring Batch task -->

    <batch:job id="echoJob">
        <batch:step id="echoStep">
            <batch:tasklet>
                <batch:chunk reader="camelReader" writer="camelWriter" processor="camelProcessor" commit-interval="3"/>
            </batch:tasklet>
        </batch:step>
        <batch:listeners>
            <batch:listener ref="camelJobExecutionListener"/>
        </batch:listeners>
    </batch:job>

    <!-- Camel infrastructure -->

    <camel:camelContext id="camel">
        <camel:route>
            <camel:from uri="direct:start-jobLauncherRef"/>
            <camel:to uri="spring-batch:echoJob?jobLauncherRef=jobLauncher"/>
        </camel:route>
        <camel:route>
            <camel:from uri="direct:start-jobLauncher"/>
            <camel:to uri="spring-batch:echoJob?jobLauncher=#jobLauncher"/>
        </camel:route>
        <camel:route>
            <camel:from uri="direct:processor"/>
            <camel:setExchangePattern pattern="InOut"/>
            <camel:setBody>
                <camel:simple>Echo ${body}</camel:simple>
            </camel:setBody>
        </camel:route>
    </camel:camelContext>

    <camel:consumerTemplate id="consumerTemplate" camelContextId="camel"/>

    <camel:template id="template" camelContextId="camel"/>

    <!-- Spring Batch infrastructure -->

    <bean id="jobRepository"
          class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager"/>

    <bean id="jobLauncher"
          class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository"/>
    </bean>

    <bean id="camelReader" class="org.apache.camel.component.spring.batch.support.CamelItemReader">
        <constructor-arg ref="consumerTemplate"/>
        <constructor-arg value="seda:inputQueue"/>
    </bean>

    <bean id="camelWriter" class="org.apache.camel.component.spring.batch.support.CamelItemWriter">
        <constructor-arg ref="template"/>
        <constructor-arg value="mock:output"/>
    </bean>

    <bean id="camelProcessor" class="org.apache.camel.component.spring.batch.support.CamelItemProcessor">
        <constructor-arg ref="template"/>
        <constructor-arg value="direct:processor"/>
    </bean>

    <bean id="camelJobExecutionListener"
          class="org.apache.camel.component.spring.batch.support.CamelJobExecutionListener">
        <constructor-arg ref="template"/>
        <constructor-arg value="mock:jobExecutionEventsQueue"/>
    </bean>

</beans>
