-Xmx3584m -Djava.awt.headless=true -XX:+UseG1GC -XX:+UseStringDeduplication -Daether.syncContext.named.factory=rwlock-local -Daether.syncContext.named.time=900 -Dmaven.wagon.rto=300000 -Dmaven.wagon.http.retryHandler.class=default -Dmaven.wagon.http.retryHandler.nonRetryableClasses=java.net.UnknownHostException,java.net.ConnectException,javax.net.ssl.SSLException
