<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

  <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  </bean>

  <bean id="myMinaFactory" class="org.apache.camel.component.mina.MinaComponent">
    <!-- we must provide a camel context so we refer to it by its id -->
    <constructor-arg index="0" ref="myCamel"/>
  </bean>

  <bean id="minaSyslog"
        factory-bean="myMinaFactory"
        factory-method="createEndpoint">
    <!-- and here we can pass it our configuration -->
    <constructor-arg index="0" ref="minaSyslogConfig"/>
  </bean>

  <!-- this is our mina configuration with plain properties -->
  <bean id="minaSyslogConfig" class="org.apache.camel.component.mina.MinaConfiguration">
    <property name="protocol" value="udp"/>
    <property name="host" value="localhost"/>
    <property name="port" value="${server-port}"/>
    <property name="sync" value="false"/>
  </bean>

  <camelContext id="myCamel" xmlns="http://camel.apache.org/schema/spring">

    <dataFormats>
      <syslog id="mySyslog"/>
    </dataFormats>

    <route>
      <from uri="ref:minaSyslog"/>
      <unmarshal><custom ref="mySyslog"/></unmarshal>
      <to uri="mock:stop1"/>
      <marshal><custom ref="mySyslog"/></marshal>
      <to uri="mock:stop2"/>
    </route>

  </camelContext>

</beans>
