# Declare required additional dependencies
run.deps=org.citrusframework:citrus-camel:{{ .CitrusVersion }},\
org.citrusframework:citrus-testcontainers:{{ .CitrusVersion }}

# Enable dump of Camel JBang integration output
run.D=citrus.camel.jbang.dump.integration.output=true
