*.log
*.log.*
*.ipr
*.iws
*.iml
*.launch
out
.project
.classpath
.settings
.metadata
.idea
.idea*
.DS_Store
dependency-reduced-pom.xml
junit*.properties
projectFilesBackup
target
.externalToolBuilders
maven-eclipse.xml
bin-groovy
atlassian-ide-plugin.private.xml
atlassian-ide-plugin.xml

