target
*.iml
*.ipr
*.iws
.idea
.DS_Store
.classpath
.project
.settings
.checkstyle
*.log
dependency-reduced-pom.xml

setEnv.sh

tests/camel-itest/src/test/lib/camel-validator-test-resources-1.0.0-sources.jar.lastUpdated
