target
*.iml
*.ipr
*.iws
.idea
.DS_Store
.classpath
.ekstazi
.project
.settings
.checkstyle
*.log
test-salesforce-login.properties
dependency-reduced-pom.xml
id_file
components/camel-solr/data
*.epoch
.factorypath
.pmd
.sts4-cache
log-camel-lsp.out
.vscode
*.code-workspace
components/camel-cxf/activemq-data
*.swp
.flattened-pom.xml
.java-version
node_modules/
mvnd.zip*