<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    ">

    <bean id="myCustomPatternBean" class="org.apache.camel.component.grok.GrokPattern">
        <constructor-arg value="FOOBAR"/>
        <constructor-arg value="foo|bar"/>
    </bean>

    <bean id="myAnotherCustomPatternBean" class="org.apache.camel.component.grok.GrokPattern">
        <constructor-arg value="FOOBAR_WITH_PREFIX_AND_SUFFIX"/>
        <constructor-arg value="-- %{FOOBAR}+ --"/>
    </bean>

    <camelContext id="camel" xmlns="http://camel.apache.org/schema/spring">

        <!-- we define the custom grok data formats to be used -->
        <dataFormats>
            <grok id="grokIP" pattern="%{IP:ip}"/>
        </dataFormats>

        <route>
            <from uri="direct:ipCustom"/>
            <unmarshal>
                <custom ref="grokIP"/>
            </unmarshal>
            <to uri="mock:ipCustom"/>
        </route>

        <route>
            <from uri="direct:ip"/>
            <unmarshal>
                <grok pattern="%{IP:ip}"/>
            </unmarshal>
            <to uri="mock:ip"/>
        </route>

        <route>
            <from uri="direct:fooBar"/>
            <unmarshal>
                <grok pattern="%{FOOBAR_WITH_PREFIX_AND_SUFFIX:fooBar}"/>
            </unmarshal>
            <to uri="mock:fooBar"/>
        </route>

    </camelContext>

</beans>
