@import "config";
@import "nav";

@import "~normalize-scss/sass/normalize/import-now";

@import "~skeleton-sass-official/skeleton/themes/fresh/vars";

@import "~skeleton-sass-official/skeleton/themes/fresh/include_components";
@import "~skeleton-sass-official/skeleton/themes/fresh/grid";

.logo {
  width: 250px;
  padding-right: 25px;
}

.site-header {
  padding-top: 25px;
}