<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    ">

    <bean id="damn" class="java.lang.IllegalArgumentException">
        <constructor-arg index="0" value="Damn"/>
    </bean>

    <!-- START SNIPPET: e1 -->

    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <!-- use Camel property placeholders -->
        <propertyPlaceholder id="properties" location="org/apache/camel/component/properties/cheese.properties"/>

        <!-- setup endpoint -->
        <endpoint id="dead" uri="mock:dead"/>

        <!-- setup a common redelivery policy, using property placeholders -->
        <redeliveryPolicyProfile id="myRedelivery" redeliveryDelay="{{delay}}" maximumRedeliveries="{{max}}"/>

        <route>
            <from uri="direct:start"/>
            <onException redeliveryPolicyRef="myRedelivery">
                <!-- refer to common redelivery policy -->
                <exception>java.lang.Exception</exception>
                <!-- but we can override the profile and log retry attempts at WARN level -->
                <redeliveryPolicy logRetryAttempted="true" retryAttemptedLogLevel="WARN"/>
                <to ref="dead"/>
            </onException>
            <throwException ref="damn"/>
        </route>

    </camelContext>
    <!-- END SNIPPET: e1 -->

</beans>
