apiVersion: camel.apache.org/v1alpha1
kind: KameletBinding
metadata:
  name: {{ .Name }}
spec:
  source:
    uri: {{ .Source }}
    #properties:
      #key: "value"
{{ .Steps }}
  sink:
    uri: {{ .Sink }}
    #properties:
      #key: "value"
