apiVersion: camel.apache.org/v1
kind: Integration
metadata:
  name: {{ .Name }}
spec:
  flows:
    - from:
        uri: "timer:yaml"
        parameters:
          period: "1000"
        steps:
          - setBody:
              constant: "Hello Camel from yaml"
          - log: "${body}"
