        <profile>
            <id>kubernetes</id>
            <build>
                <plugins>
                    <plugin>
                        <groupId>org.eclipse.jkube</groupId>
                        <artifactId>kubernetes-maven-plugin</artifactId>
                        <version>${jkube.version}</version>
                        <configuration>
                            <resources>
                                <labels>
                                    <all>
                                        <property>
                                            <name>app.kubernetes.io/runtime</name>
                                            <value>camel</value>
                                        </property>
                                    </all>
                                </labels>
                            </resources>
                        </configuration>
                    </plugin>
                </plugins>
            </build>
        </profile>
        <profile>
            <id>openshift</id>
            <build>
                <plugins>
                    <plugin>
                        <groupId>org.eclipse.jkube</groupId>
                        <artifactId>openshift-maven-plugin</artifactId>
                        <version>${jkube.version}</version>
                        <configuration>
                            <resources>
                                <labels>
                                    <all>
                                        <property>
                                            <name>app.openshift.io/runtime</name>
                                            <value>camel</value>
                                        </property>
                                    </all>
                                </labels>
                            </resources>
                        </configuration>
                    </plugin>
                </plugins>
            </build>
        </profile>
