            <plugin>
                <groupId>com.google.cloud.tools</groupId>
                <artifactId>jib-maven-plugin</artifactId>
                <version>{{ .JibMavenPluginVersion }}</version>
                <configuration>
                    <from>
                        <image>${jib.from.image}</image>
{{ .JibFromImageAuth }}
                    </from>
                    <to>
                        <image>${jib.to.image}</image>
{{ .JibToImageAuth }}
                    </to>
                    <containerizingMode>packaged</containerizingMode>
                    <container>
                        <ports>
                            <port>{{ .Port }}</port>
                        </ports>
                    </container>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.eclipse.jkube</groupId>
                <artifactId>kubernetes-maven-plugin</artifactId>
                <version>${jkube.version}</version>
                <configuration>
                    <images>
                        <image>
                            <name>${jib.to.image}</name>
                            <build>
                            </build>
                        </image>
                    </images>
                    <resources>
                        <labels>
                            <all>
                                <property>
                                    <name>${label.runtime}</name>
                                    <value>camel</value>
                                </property>
                            </all>
                        </labels>
                    </resources>
                </configuration>
            </plugin>