                        <auth>
                            <username>${jib.from.auth.username}</username>
                            <password>${jib.from.auth.password}</password>
                        </auth>
