            <plugin>
                <groupId>org.eclipse.jkube</groupId>
                <artifactId>kubernetes-maven-plugin</artifactId>
                <version>{{ .JKubeMavenPluginVersion }}</version>
                <configuration>
                    <images>
                        <image>
                            <name>${jib.to.image}</name>
                            <build>
                            </build>
                        </image>
                    </images>
                    <resources>
                        <labels>
                            <all>
                                <property>
                                    <name>${label.runtime}</name>
                                    <value>camel</value>
                                </property>
                            </all>
                        </labels>
                    </resources>
                </configuration>
            </plugin>