Manifest-Version: 1.0
Implementation-Title: Camel :: Camel Uber-JAR Runner
Implementation-Vendor: The Apache Software Foundation
Implementation-Version: {{ .Version }}
Main-Class: com.needhamsoftware.unojar.Boot
One-Jar-Main-Class: org.apache.camel.main.uberjar.UberJarMain
Uno-Jar-Main-Class: org.apache.camel.main.uberjar.UberJarMain