Manifest-Version: 1.0
Implementation-Title: Camel :: Camel Far-JAR Runner
Implementation-Vendor: The Apache Software Foundation
Implementation-Version: {{ .Version }}
Main-Class: com.needhamsoftware.unojar.Boot
One-Jar-Main-Class: org.apache.camel.main.fatjar.FatJarMain
Uno-Jar-Main-Class: org.apache.camel.main.fatjar.FatJarMain