apiVersion: camel.apache.org/v1
kind: Pipe
metadata:
  name: {{ .Name }}
spec:
  source:
    uri: {{ .Source }}
    {{ .SourceProperties }}
{{ .Steps }}
  sink:
    uri: {{ .Sink }}
    {{ .SinkProperties }}
