apiVersion: camel.apache.org/v1
kind: Pipe
metadata:
  name: {{ .Name }}
spec:
  source:
    uri: {{ .Source }}
    #properties:
      #key: "value"
{{ .Steps }}
  sink:
    ref:
      kind: Kamelet
      apiVersion: camel.apache.org/v1
      name: {{ .Sink }}
    {{ .SinkProperties }}
