#Gradle properties
quarkusPluginId=io.quarkus
quarkusPluginVersion={{ .QuarkusVersion }}
quarkusPlatformGroupId={{ .QuarkusGroupId }}
quarkusPlatformArtifactId={{ .QuarkusArtifactId }}
quarkusPlatformVersion={{ .QuarkusVersion }}