package {{ .PackageName }};

import io.quarkus.runtime.annotations.QuarkusMain;
import io.quarkus.runtime.Quarkus;

@QuarkusMain
public class {{ .MainClassname }} {

    public static void main(String[] args) {
        Quarkus.run(args);
    }

}
