apiVersion: camel.apache.org/v1
kind: Pipe
metadata:
  name: {{ .Name }}
{{ .Annotations }}
spec:
{{ .IntegrationSpec }}
  source:
    uri: {{ .Source }}
    {{ .SourceProperties }}
{{ .Steps }}
  sink:
    uri: {{ .Sink }}
    {{ .SinkProperties }}
{{ .ErrorHandler }}
