<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    ">

    <bean id="kaboom" class="java.net.ConnectException">
        <constructor-arg index="0" value="Cannot connect"/>
    </bean>

    <bean id="damn" class="java.lang.IllegalArgumentException">
        <constructor-arg index="0" value="Damn cannot do this"/>
    </bean>

    <camelContext xmlns="http://camel.apache.org/schema/spring">

        <errorHandler id="defaultEH">
            <redeliveryPolicy maximumRedeliveries="2" redeliveryDelay="1000" asyncDelayedRedelivery="true"/>
        </errorHandler>

        <errorHandler id="dlc" type="DeadLetterChannel" deadLetterUri="mock:dlc">
            <redeliveryPolicy maximumRedeliveries="3" redeliveryDelay="0"/>
        </errorHandler>

        <route errorHandlerRef="defaultEH">
            <from uri="direct:start"/>
            <choice>
                <when>
                    <simple>${body} == 'Damn'</simple>
                    <throwException ref="damn"/>
                </when>
            </choice>
            <to uri="direct:bar"/>
        </route>

        <route errorHandlerRef="dlc">
            <from uri="direct:bar"/>
            <choice>
                <when>
                    <simple>${body} == 'Kaboom'</simple>
                    <throwException ref="kaboom"/>
                </when>
            </choice>
            <to uri="mock:result"/>
        </route>

    </camelContext>

</beans>
