{{- if gt (len .Data.Terms) 0 -}}
  {{- $maxSize := 2.0 -}}
  {{- $minSize := 1.0 -}}
  {{- $sizeSpread := ( sub $maxSize $minSize ) -}}

  {{- $maxCount := (index .Data.Terms.ByCount 0).Count -}}
  {{- $minCount := (index .Data.Terms.ByCount.Reverse 0).Count -}}
  {{- $countSpread := ( sub $maxCount $minCount ) -}}

  {{- $.Scratch.Set "sizeStep" 0 -}}
  {{- if gt $countSpread 0 -}}
    {{- $.Scratch.Set "sizeStep" ( div $sizeSpread $countSpread ) -}}
  {{- end -}}

  <ul class='term-cloud'>
  {{- range .Data.Terms.Alphabetical -}}
    {{- $count := .Count -}}
    {{- $sizeStep := ( $.Scratch.Get "sizeStep" ) -}}
    {{- $size := ( add $minSize ( mul $sizeStep ( sub $count $minCount ) ) ) -}}
    <li>
      <a href='{{ $.Data.Plural | relURL }}/{{ .Term | urlize }}' style='font-size:{{ $size }}em'>
        {{- .Term -}}
      </a>
    </li>
  {{- end -}}
  </ul>
{{- end -}}
