<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    ">

  <!-- START SNIPPET: e1 -->
  <camelContext id="camel" xmlns="http://camel.apache.org/schema/spring">
    <dataFormats>
      <crypto id="basic" algorithm="DES" keyRef="desKey" />

      <!-- START SNIPPET: init-vector -->
      <crypto id="initvector" algorithm="DES/CBC/PKCS5Padding" keyRef="desKey" initVectorRef="initializationVector" />
      <!-- END SNIPPET: init-vector -->

      <!-- START SNIPPET: inline -->
      <crypto id="inline" algorithm="DES/CBC/PKCS5Padding" keyRef="desKey" initVectorRef="initializationVector"
        inline="true" />
      <crypto id="inline-decrypt" algorithm="DES/CBC/PKCS5Padding" keyRef="desKey" inline="true" />
      <!-- END SNIPPET: inline -->

      <!-- START SNIPPET: hmac -->
      <crypto id="hmac" algorithm="DES" keyRef="desKey" shouldAppendHMAC="true" />
      <!-- END SNIPPET: hmac -->

      <!-- START SNIPPET: hmac-algorithm -->
      <crypto id="hmac-algorithm" algorithm="DES" keyRef="desKey" macAlgorithm="HmacMD5" shouldAppendHMAC="true" />
      <!-- END SNIPPET: hmac-algorithm -->
      
      <!-- START SNIPPET: hmac-sha-256-algorithm -->
      <crypto id="hmac-sha-256-algorithm" algorithm="DES" keyRef="desKey" macAlgorithm="HmacSHA256" shouldAppendHMAC="true" />
      <!-- END SNIPPET: hmac-sha-256-algorithm -->
      
      <!-- START SNIPPET: header-key -->
      <crypto id="nokey" algorithm="DES" />
      <!-- END SNIPPET: header-key -->
      
      <!-- START SNIPPET: tripledes-ecb-encryption -->
      <crypto id="tripledes-ecb-encryption" algorithm="DESede/ECB/PKCS5Padding" keyRef="desEdeKey" />
      <!-- END SNIPPET: tripledes-ecb-encryption -->
      
      <!-- START SNIPPET: tripledes-cbc-encryption -->
      <crypto id="tripledes-cbc-encryption-encrypt" algorithm="DESede/CBC/PKCS5Padding" keyRef="desEdeKey" initVectorRef="initializationVector" inline="true" />
      <crypto id="tripledes-cbc-encryption-decrypt" algorithm="DESede/CBC/PKCS5Padding" keyRef="desEdeKey" inline="true" />
      <!-- END SNIPPET: tripledes-cbc-encryption -->
      
      <!-- START SNIPPET: aes-128-ecb-encryption -->
      <crypto id="aes-128-ecb-encryption" algorithm="AES/ECB/PKCS5Padding" keyRef="aesKey" />
      <!-- END SNIPPET: aes-128-ecb-encryption -->
      
      <crypto id="aes-gcm-encryption" algorithm="AES/GCM/NoPadding" keyRef="aesKey" algorithmParameterRef="gcmParamSpec" />
      
      <crypto id="des-no-algorithm" keyRef="desKey" initVectorRef="initializationVector" />
    </dataFormats>
    
    <route>
      <from uri="direct:basic-encryption" />
      <marshal><custom ref="basic" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="basic" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:init-vector" />
      <marshal><custom ref="initvector" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="initvector" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:inline" />
      <marshal><custom ref="inline" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="inline-decrypt" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:hmac" />
      <marshal><custom ref="hmac" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="hmac" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:hmac-algorithm" />
      <marshal><custom ref="hmac-algorithm" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="hmac-algorithm" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:hmac-sha-256-algorithm" />
      <marshal><custom ref="hmac-sha-256-algorithm" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="hmac-sha-256-algorithm" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:key-in-header-encrypt" />
      <marshal><custom ref="nokey" /></marshal>
      <setHeader name="CamelCryptoKey">
        <constant />
      </setHeader>
      <to uri="mock:encrypted" />
    </route>
    
    <route>
      <from uri="direct:key-in-header-decrypt" />
      <unmarshal><custom ref="nokey" /></unmarshal>
      <setHeader name="CamelCryptoKey">
        <constant />
      </setHeader>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:3des-ecb-encryption" />
      <marshal><custom ref="tripledes-ecb-encryption" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="tripledes-ecb-encryption" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:3des-cbc-encryption" />
      <marshal><custom ref="tripledes-cbc-encryption-encrypt" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="tripledes-cbc-encryption-decrypt" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:aes-128-ecb-encryption" />
      <marshal><custom ref="aes-128-ecb-encryption" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="aes-128-ecb-encryption" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:aes-gcm-encryption" />
      <marshal><custom ref="aes-gcm-encryption" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="aes-gcm-encryption" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
    <route>
      <from uri="direct:no-algorithm" />
      <marshal><custom ref="des-no-algorithm" /></marshal>
      <to uri="mock:encrypted" />
      <unmarshal><custom ref="des-no-algorithm" /></unmarshal>
      <to uri="mock:unencrypted" />
    </route>
    
  </camelContext>
  
  <bean id="desKey" class="org.apache.camel.converter.crypto.SpringCryptoDataFormatTest" factory-method="getDesKey" />
  <bean id="desEdeKey" class="org.apache.camel.converter.crypto.SpringCryptoDataFormatTest" factory-method="getDesEdeKey" />
  <bean id="aesKey" class="org.apache.camel.converter.crypto.SpringCryptoDataFormatTest" factory-method="getAESKey" />
  <bean id="initializationVector" class="org.apache.camel.converter.crypto.SpringCryptoDataFormatTest" factory-method="getIV" />
  <bean id="gcmParamSpec" class="org.apache.camel.converter.crypto.SpringCryptoDataFormatTest" factory-method="getGCMParameterSpec" />
  
</beans>