<meta property='og:title' content='{{ partial "data/title" . }}'>
<meta property='og:description' content='{{ partial "data/description" . }}'>
<meta property='og:url' content='{{ .Permalink }}'>
<meta property='og:site_name' content='{{ .Site.Title }}'>
<meta property='og:type' content='
  {{- if .IsPage -}}
    article
  {{- else -}}
    website
  {{- end -}}
'>

{{- with .Params.locale -}}
  <meta property='og:locale' content='{{ . }}'>
{{- end -}}

{{- with .Params.images -}}
  {{- range first 6 . -}}
    <meta property='og:image' content='{{ . | absURL }}'>
  {{- end -}}
{{- else -}}
  {{- with .Site.Author.email -}}
    <meta property='og:image' content='https://www.gravatar.com/avatar/
      {{- ( print .username "@" .host ) | md5 -}}?s=256'>
  {{- end -}}
{{- end -}}

{{- with .Params.audio -}}
  <meta property='og:audio' content='{{ . }}'>
{{- end -}}

{{- with .Params.videos -}}
  {{- range first 6 . -}}
    <meta property='og:video' content='{{ . | absURL }}'>
  {{- end -}}
{{- end -}}

{{- if .IsPage -}}
  {{- with .Site.Author.social.facebook -}}
    <meta property='article:author' content='https://facebook.com/{{ . }}'>
  {{- end -}}
  {{- with .Site.Social.facebook -}}
    <meta property='article:publisher' content='https://facebook.com/{{ . }}'>
  {{- end -}}
  <meta property='article:section' content='{{ .Section | title }}'>
  {{- range .Params.tags -}}
    <meta property='article:tag' content='{{ . }}'>
  {{- end -}}
{{- end -}}

{{- if .IsPage -}}
  {{- if not .PublishDate.IsZero -}}
    <meta property='article:published_time' content='{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}'/>
  {{- else if not .Date.IsZero -}}
    <meta property='article:published_time' content='{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}'/>
  {{- end -}}
  {{- if not .Lastmod.IsZero -}}
    <meta property='article:modified_time' content='{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}'/>
  {{- end -}}
{{- else -}}
  {{- if not .Site.LastChange.IsZero -}}
    <meta property='og:updated_time' content='{{ .Site.LastChange.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}'/>
  {{- end -}}
{{- end -}}

{{- with .Site.Params.opengraph.facebook -}}
    {{- with .appid -}}
      <meta property='fb:app_id' content='{{ . }}'>
    {{- end -}}
    {{- with .admins -}}
      <meta property='fb:admins' content='{{ . }}'>
    {{- end -}}
{{- end -}}
