<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    ">

    <!-- START SNIPPET: example -->
    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <template id="camelTemplate"/>

        <!-- use myFilter as filter to allow setting ANT paths for which files to scan for -->
        <endpoint id="myFileEndpoint" uri="file://target/antpathmatcher?initialDelay=0&amp;delay=10&amp;recursive=true&amp;filter=#myAntFilter"/>

        <route>
            <from ref="myFileEndpoint"/>
            <to uri="mock:result"/>
        </route>
    </camelContext>

    <!-- we use the antpath file filter to use ant paths for includes and exlucde -->
    <bean id="myAntFilter" class="org.apache.camel.component.file.AntPathMatcherGenericFileFilter">
        <!-- include and file in the subfolder that has day in the name -->
        <property name="includes" value="**/subfolder/**/*day*"/>
        <!-- exclude all files with bad in name or .xml files. Use comma to seperate multiple excludes -->
        <property name="excludes" value="**/*bad*,**/*.xml"/>
    </bean>
    <!-- END SNIPPET: example -->

</beans>
