<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    ">

  <!-- use a dummy rest consumer factory for the rest engine -->
  <bean id="dummy-rest" class="org.apache.camel.openapi.DummyRestConsumerFactory"/>

  <bean id="userService" class="java.lang.Object"/>

  <camelContext xmlns="http://camel.apache.org/schema/spring">

    <rest path="/user" tag="dude" consumes="application/json" produces="application/json">
      <description>User rest service</description>
      <securityDefinitions>
        <oauth2 key="petstore_auth" authorizationUrl="http://petstore.swagger.io/oauth/dialog"/>
        <apiKey key="api_key" name="myHeader" inHeader="true"/>
      </securityDefinitions>

      <get uri="/{id}/{date}" outType="org.apache.camel.openapi.User">
        <description>Find user by id and date</description>
        <param name="id" type="path" description="The id of the user to get"/>
        <param name="date" type="path" dataFormat="date" description="The date"/>
        <responseMessage message="The user returned"/>
        <security key="api_key"/>
        <to uri="bean:userService?method=getUser(${header.id})"/>
      </get>

      <put type="org.apache.camel.openapi.User">
        <description>Updates or create a user</description>
        <param name="body" type="body" description="The user to update or create"/>
        <security key="petstore_auth" scopes="write:pets,read:pets"/>
        <to uri="bean:userService?method=updateUser"/>
      </put>

      <get uri="/findAll" outType="org.apache.camel.openapi.User[]">
        <description>Find all users</description>
        <responseMessage message="All the found users"/>
        <to uri="bean:userService?method=listUsers"/>
      </get>

    </rest>

  </camelContext>

</beans>
