
.dijitRtl .nihilo .dijitEditorIcon {
	background-image: url('images/editor_rtl.gif'); 
}
.dijitRtl .nihilo .dijitDisabled .dijitEditorIcon {
	background-image: url('images/editorDisabled_rtl.gif'); 
}
.dijitRtl .nihilo .dijitToolbar .dijitToolbarSeparator {
	background-image: url('images/editor_rtl.gif');
}
