<!-- generated:txt -->
<!-- endinject -->
* xref:eips:enterprise-integration-patterns.adoc[Enterprise Integration Patterns]
* xref:eips:ai-patterns.adoc[AI Patterns]
<!-- inject:adoc -->
<!-- endinject -->
